.catalog {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat($card-number, $card-width);
  gap: $gap;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $card-width;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: $gap;
  }

  @media screen and(min-width: $media-phone) {
    grid-template-columns: repeat(2, $card-width);
  }

  @media screen and( min-width: $media-tablet) {
    grid-template-columns: repeat(3, $card-width);
  }

  @media screen and( min-width: $media-desktop) {
    grid-template-columns: repeat(4, $card-width);
  }
}
